body {
    padding: 0 10px;
    min-height: 100vh;
    background: -webkit-linear-gradient(180deg, rgb(64, 77, 104) 31%, rgb(240, 240, 240) 35%);
    background: -moz-linear-gradient(180deg, rgb(64, 77, 104) 31%, rgb(240, 240, 240) 35%);
    background: linear-gradient(180deg, rgb(64, 77, 104) 31%, rgb(240, 240, 240) 35%);
}

.back {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 20px 0 30px 0;
}

.back__stick {
    position: absolute;
    top: 50%;
    left: -5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.back__stick.one {
    transform: rotate(-45deg);
}

.back__stick.two {
    transform: rotate(45deg);
}

.info {
    color: #fff;
}

.info__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.info__rub {
    font-size: 24px;
    font-weight: 800;
    margin: 0 0 5px 0;
}

.info__year {
    font-size: 14px;
    color: #d3d3d3;
    margin: 0 0 25px 0;
}

.desc {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 0 20px 0;
    margin: 0 0 20px 0;
}

.desc__title {
    margin: 0 0 5px 20px;
}

.desc__info {
    margin: 0 0 0 20px;
}

.action {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.action__block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #55a1ff;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.action__icon {
    position: relative;
    width: 40px;
    height: 40px;
}

.action__icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}